.header {
    padding: 15px 0;
    text-align: center;
    background: #111;
      
  }
  /* .header{
    background-color: #836d6d;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
   align-items: center;
 cursor: pointer;
} */
#h{
  color: #eee;
}
.nav{
  
  display: flex;

  background:rgb(126, 3, 3);
  
}
.ul{
  display: flex;
  padding: 2px;
  margin: 5px;
}
.li{
 
  color: bisque;
  margin: 20px;
}